
extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand 
					a(href="#{baseURL}/home") Home
					|  /
				.navbar-brand= title
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn#btn-logout.btn.btn-default
						| Sign Out

	#account-form-container.center-vertical
		form(method="post")#account-form.form-horizontal.well
			h2 Sessions
	
	include modals/alert
	include modals/confirm

block scripts
	script(src='#{baseURL}/vendor/jquery-2.2.3.min.js')
	script(src='#{baseURL}/vendor/jquery.form.min.js')
	script(src='#{baseURL}/vendor/bootstrap.min.js')
	script(src='#{baseURL}/js/views/home.js')
	script(src='#{baseURL}/js/controllers/homeController.js')
	//script(src='#{baseURL}/js/form-validators/sessionValidator.js')